body{
    text-align: center;
    background-color: rgb(244, 225, 151);
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #131413;
    font-size: 20px;
    opacity: 0.8;
}
.container{
    height: 90vh;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.in{
    background-color: #ffffff;
    border-radius: 5px;
    width: 300px;
    max-width: 50%;
    height: 300px;
    text-align: center;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.179);
}
.in_1{
    margin-top: 50px;
    max-width: 70%;
    width: 550px;
    height: 30px;
    outline: 0;
    border: 0px;
    padding-left: 15px;
    border-bottom: 2px solid #B0B3B9;
}
.in_2{
    margin-top: 20px;
    max-width: 70%;
    width: 550px;
    height: 30px;
    outline:0;
    border: 0px;
    padding-left: 15px;
    border-bottom: 2px solid #B0B3B9;
}
.butt{
    width: 85px;
    max-width: 58%;
    width: 550px;
    height: 30px;
    border-radius: 30px ;
    opacity: .8;
    font-weight: bold;
    margin-top: 40px;
    border-color: rgb(125, 255, 144);
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}
.title1{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .6;
}
.title2{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .6;

}